@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* .loader {
  width: 45px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(theme(colors.stone.800) 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  background-size: 20% 50%;
  animation: loading 1s infinite linear;
} */

html {
  scroll-behavior: smooth;
}
.loader-svg {
  width: 250px; /* Adjust as needed */
  height: auto;
  display: block;
  margin: auto;
}

.text-outline {
  fill: none;
  stroke: #ef4444;
  stroke-width: 2px;
  font-size: 100px;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

.text-fill {
  fill: #ef4444;
  font-size: 100px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  animation: fillAnimation 2s linear infinite alternate;
}

@keyframes fillAnimation {
  0% {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
  }
  100% {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.small-slider .slick-list {
  max-height: 480px !important;
  border-radius: 8px;
}
.mb-slider .slick-list {
  max-height: 330px !important;
}
.full-slider .slick-list {
  max-height: calc(100vh - 120px) !important;
}
.slick-dots li {
  width: auto;
}

.fixed-nav-container {
  border-bottom: 1px solid #eaebf2;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 40;
}
.dealership:hover {
  box-shadow: 0 0 2px 4px #c9171d;
  border-radius: 8px;
}
.dealership:hover .dealershipContent {
  border-color: #c9171d;
}

favourite-sec input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* For Firefox */
}
input[type="checkbox"] {
  background-color: #fa9e57;
}

input[type="checkbox"]:checked {
  background-color: #fa9e57;
}
.advertisement-list {
  list-style: outside;
  padding-left: 30px;
}
select {
  -webkit-appearance: none; /* For Chrome and Safari */
  -moz-appearance: none; /* For Firefox */
  appearance: none; /* For modern browsers */
  background-image: url("./assets/images/arrow-bot.png"); /* Path to your custom arrow image */
  background-repeat: no-repeat;
  background-position: right 15px center; /* Adjust as necessary */
  background-size: 15px; /* Adjust as necessary */
}
select:focus {
  outline: none;
}
select::-ms-expand {
  display: none;
}
.custom-checkbox input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

/* Create a custom square */
.custom-checkbox .checkmark {
  display: inline-block;
  width: 17px; /* Size of the square */
  height: 17px;
  border: 1px solid #8d92a3; /* Border color */
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px; /* Default background */
  transition: background-color 0.2s; /* Smooth transition for background color */
  position: relative;
}

/* When the checkbox is checked, add a red square inside */
.custom-checkbox input[type="checkbox"]:checked + .checkmark::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 70%; /* Width of the inner square */
  height: 70%; /* Height of the inner square */
  background-color: red; /* Inner square color */
}

/* Optional: add a hover effect for the custom checkbox */
.custom-checkbox .checkmark:hover {
  cursor: pointer;
}
textarea {
  resize: none;
}

.btn[disabled] {
  background-color: #ebedf3;
}
@layer components {
  .container {
    @apply max-w-[1010px];
  }
  input[type="radio"]:checked + span .custom-checkmark {
    display: block;
    position: absolute;
    top: 6px;
    left: 3px;
    width: 10px;
    height: 10px;
    background-color: #ef4444;
    border-radius: 4px;
  }
}
@layer base {
  /* Hide arrows in input type number for Chrome, Safari, Edge, Opera */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    @apply appearance-none;
    margin: 0;
  }

  /* Hide arrows in input type number for Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
.fav-sec {
  min-height: calc(100vh - 96px);
}
.picture-list {
  list-style: outside;
}
@media (max-width: 1379px) {
  .container {
    @apply px-4;
  }
}
@media (max-width: 1120px) {
  .nav-holder {
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .nav-holder a,
  .nav-holder button,
  .nav-holder p {
    font-size: 14px;
  }
  .nav-holder img,
  .nav-holder svg {
    width: 18px;
    height: 18px;
  }
  .nav-holder .logo {
    width: 130px;
    height: auto;
  }
  .nav-links {
    flex-wrap: wrap;
    width: 100%;
  }
  .nav-links a {
    width: 49%;
    margin-left: 0px;
  }
  .nav-links a:nth-child(3) {
    margin-top: 15px;
    width: 100%;
    justify-content: center;
  }
  .top-nav {
    width: 100%;
    justify-content: space-between;
  }

  .footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
}
body {
  position: relative;
  font-family: "Inter", sans-serif;
}

/* AnimatedButtonWrapper.css */

.animated-button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.3s ease, border 0.3s ease;
}

.animated-button::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(202, 16, 22, 0.5); /* Slightly transparent red */
  z-index: 0;
  transition: top 2s ease; /* Adjust duration as needed */
}

.animated-button.btn-loading-state::before {
  top: 0; /* "Water" fills the button */
}

.animated-button::after {
  content: "Kib Car"; /* Text to display during loading */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0; /* Initially hidden */
  z-index: 1;
  font-size: 14px;
}

.animated-button.btn-loading-state::after {
  opacity: 1; /* "Kib Car" becomes visible */
}

.animated-button.btn-loading-state {
  opacity: 0.3; /* 30% opacity on click */
}

.animated-button:hover {
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.6);
}
